body{
     background-color:black;
}
.letter-animation {
     display: inline-block;
     font-size: 36px;
     color: aqua;
     overflow: hidden;
     white-space: nowrap;
   }
 
   .letter-animation::before {
     content: attr(data-text);
     display: inline-block;
     transform-origin: 50% 50%;
     opacity: 0;
     transform: scale(0.1);
     animation: showLetter 1s forwards;
   }
 
   @keyframes showLetter {
     0% {
       opacity: 0;
       transform: scale(0.1);
     }
     100% {
       opacity: 1;
       transform: scale(1);
     }
   }